<h1>{{actionName}} разрешения на экспорт</h1>

<form name="formDealerSite" autocomplete="off" novalidate>
	<fieldset class="span-24">
	    <legend>Ключевые поля</legend>
	    <table>
	        <tr>
	            <th><label for="dealerSiteDealer">Салон</label></th>
	            <td>
                    <div id="dealerSiteDealer" name="dealerSiteDealer" ng-model='dealerSiteEdited.dealer' ui-mcombo-choices="dealers" ui-mcombo-name="'companyName'" ui-mcombo-loader="dealersLoader" ui-dealer-site-unique='dealerSiteEdited' required>
                    </div>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteDealer.$invalid'>
					    <li id='dealerSiteEditDealerErrorRequired' ng-show="formDealerSite.dealerSiteDealer.$error.required">Необходимо выбрать значение.</li>
					    <li id='dealerSiteEditDealerErrorUnique' ng-show="formDealerSite.dealerSiteDealer.$error.unique">Комбинация значений салона и сайта должна быть уникальной.</li>
					</ul>
	            </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSiteSite">Сайт</label></th>
	            <td>
                    <div id="dealerSiteSite" name="dealerSiteSite" ng-model='dealerSiteEdited.site' ui-mcombo-choices="sites" ui-mcombo-name="'name'" ui-mcombo-loader="sitesLoader" required>
                    </div>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteSite.$invalid'>
					    <li id='dealerSiteEditSiteErrorRequired' ng-show="formDealerSite.dealerSiteSite.$error.required">Необходимо выбрать значение.</li>
					</ul>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24">
	    <legend>Атрибуты</legend>
	    <table>
	        <tr>
	            <th><label for="dealerSiteExternalId">Код салона на сайте</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSiteExternalId" id="dealerSiteExternalId" ng-model='dealerSiteEdited.external_id' ng-required='formConfig[dealerSiteEdited.site.id]["external_id"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteExternalId.$invalid'>
					    <li id='dealerSiteExternalIdErrorRequired' ng-show="formDealerSite.dealerSiteExternalId.$error.required">Необходимо ввести значение.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSitePublicUrl">Страница на сайте</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSitePublicUrl" id="dealerSitePublicUrl" ng-model='dealerSiteEdited.public_url' ng-required='formConfig[dealerSiteEdited.site.id]["public_url"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSitePublicUrl.$invalid'>
					    <li id='dealerSitePublicUrlErrorRequired' ng-show="formDealerSite.dealerSitePublicUrl.$error.required">Необходимо ввести значение.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSiteLoginSiteLogin">Логин на сайте</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSiteLoginSiteLogin" id="dealerSiteLoginSiteLogin" ng-model='dealerSiteLoginsEdited.site.login' ng-required='formConfig[dealerSiteEdited.site.id]["site"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteLoginSiteLogin.$invalid'>
					    <li id='dealerSiteLoginSiteLoginErrorRequired' ng-show="formDealerSite.dealerSiteLoginSiteLogin.$error.required">Необходимо ввести логин.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSiteLoginSitePassword">Пароль на сайте</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSiteLoginSitePassword" id="dealerSiteLoginSitePassword" ng-model='dealerSiteLoginsEdited.site.password' ng-required='formConfig[dealerSiteEdited.site.id]["site"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteLoginSitePassword.$invalid'>
					    <li id='dealerSiteLoginSitePasswordErrorRequired' ng-show="formDealerSite.dealerSiteLoginSitePassword.$error.required">Необходимо ввести пароль.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSiteLoginFtpLogin">Логин для ftp</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSiteLoginFtpLogin" id="dealerSiteLoginFtpLogin" ng-model='dealerSiteLoginsEdited.ftp.login' ng-required='formConfig[dealerSiteEdited.site.id]["ftp"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteLoginFtpLogin.$invalid'>
					    <li id='dealerSiteLoginFtpLoginErrorRequired' ng-show="formDealerSite.dealerSiteLoginFtpLogin.$error.required">Необходимо ввести логин.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="dealerSiteLoginFtpPassword">Пароль для ftp</label></th>
	            <td>
	                <input class="span-8" type="text" name="dealerSiteLoginFtpPassword" id="dealerSiteLoginFtpPassword" ng-model='dealerSiteLoginsEdited.ftp.password' ng-required='formConfig[dealerSiteEdited.site.id]["ftp"]'>
					<ul class="error_list" ng-show='formDealerSite.dealerSiteLoginFtpPassword.$invalid'>
					    <li id='dealerSiteLoginFtpPasswordErrorRequired' ng-show="formDealerSite.dealerSiteLoginFtpPassword.$error.required">Необходимо ввести пароль.</li>
					</ul>
	           </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24">
	    <legend>Статус</legend>
	    <table>
	        <tr>
	            <th><label for="dealerSiteStatus">Статус</label></th>
	            <td>
	                <select id="dealerSiteStatus" name="dealerSiteStatus" ng-model='dealerSiteEdited.status' ng-options='opt.name for opt in dealerSiteStatuses.getItems()'>
	                </select>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<div class="span-10 prepend-top clear">
	    <ul class="actions row">
	        <!--li class="delete"><a id='DealerSiteEditRemove' ng-click='removeDealerSite()'>Удалить</a></li-->
	        <li class="list"><a href="#/dealersitelist">Отменить</a></li>
	        <li class="save"><input id='dealerSiteEditSave' type="submit" value="Сохранить" ng-disabled='formDealerSite.$invalid' ng-click='saveDealerSite()'/></li>
	    </ul>
	</div>
</form>