<h1>{{actionName}}</h1>

<form name="formSale" autocomplete="off" novalidate>
	<fieldset class="span-24">
	    <legend>Ключевые поля</legend>
	    <table class='parameters' ng-form='formSaleKey'>
	        <tr>
	            <th><label for="saleDealer">Салон</label></th>
	            <td>
                    <div id="saleDealer" name="saleDealer" ng-model='saleEdited.dealer' ui-mcombo-choices="dealers" ui-mcombo-name="'companyName'" ui-mcombo-loader="dealersLoader" required ng-disabled='!saleEdited.isCard()'>
                    </div>
					<ul class="error_list" ng-show='formSaleKey.saleDealer.$invalid'>
					    <li id='saleEditDealerErrorRequired' ng-show="formSaleKey.saleDealer.$error.required">Необходимо выбрать салон.</li>
					</ul>
	            </td>
	        </tr>
	        <tr>
	            <th><label for="saleSite">Сайт</label></th>
	            <td>
                    <div id="saleSite" name="saleSite" ng-model='saleEdited.site' ui-mcombo-choices="sites" ui-mcombo-name="'name'" ui-mcombo-loader="sitesLoader" required ng-disabled='!saleEdited.isCard()'>
                    </div>
					<ul class="error_list" ng-show='formSaleKey.saleSite.$invalid'>
					    <li id='saleEditSiteErrorRequired' ng-show="formSaleKey.saleSite.$error.required">Необходимо выбрать сайт.</li>
					</ul>
	            </td>
	        </tr>
	        <tr ng-show='saleEdited.isAddcard()'>
	            <th><label for="saleTariffParent">Старый тариф</label></th>
	            <td>
		            <select class="span-8" id="saleTariffParent" name="saleTariffParent" ng-model='tariffParent' ng-options='opt.name(city, tariffRates.getItems()) for opt in tariffs.getItems()' ng-required='saleEdited.isAddcard()' disabled>
		            </select>
	            </td>
	        </tr>
	        <tr ng-show='!saleEdited.isExtra()'>
	            <th><label for="saleTariff">{{tariffFieldTitle}}</label></th>
	            <td>
		            <select class="span-8" id="saleTariff" name="saleTariff" ng-model='saleEdited.tariff' ng-options='opt.name(city, tariffRates.getItems()) for opt in tariffs.getItems()' ng-disabled='!saleEdited.site' ng-required='!saleEdited.isExtra()' is-active>
		            </select>
					<ul class="error_list" ng-show='formSaleKey.saleTariff.$invalid'>
					    <li id='saleEditTariffErrorRequired' ng-show="formSaleKey.saleTariff.$error.required">Необходимо выбрать тариф.</li>
					    <li id='saleEditTariffErrorIsActive' ng-show="formSaleKey.saleTariff.$error.isActive">Необходимо выбрать активный тариф.</li>
					</ul>
					<ul class="warning_list" ng-show='saleEditTariffWarningNoDefaultTariff'>
					    <li id='saleEditTariffWarningNoDefaultTariff' ng-show="saleEditTariffWarningNoDefaultTariff">У салона не включен экспорт на сайт.</li>
					</ul>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24">
	    <legend>Атрибуты</legend>
	    <table class='parameters'>
	        <tr ng-show='!saleEdited.isExtra()'>
	            <th><label for="saleCount">Количество машин</label></th>
	            <td>
	                <input class="span-8" type="number" name="saleCount" id="saleCount" ng-model='saleEdited.count' min='0' ng-required='!saleEdited.isExtra()' ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleCount.$invalid'>
					    <li id='saleCountErrorRequired' ng-show="formSale.saleCount.$error.required">Необходимо ввести количество.</li>
					    <li id='saleCountErrorMin' ng-show="formSale.saleCount.$error.min">Количество должно быть неотрицательным.</li>
					</ul>
					<ul class="warning_list" ng-show='saleEdited.isCard()'>
					    <li id='saleEditCountWarningDifferent' ng-show='saleEdited.count - saleEdited.tariff.count'>Количество отличается от тарифа.</li>
					</ul>
	           </td>
	        </tr>
	        <tr ng-show='!saleEdited.isExtra()'>
	            <th><label for="saleActiveFrom">С</label></th>
	            <td>
	                <input class="span-8" type="date" name="saleActiveFrom" id="saleActiveFrom" ng-model='saleEdited.activeFrom' ng-required='!saleEdited.isExtra()' ui-greater-or-equal="saleParent.activeFrom" ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleActiveFrom.$invalid'>
					    <li id='saleActiveFromErrorRequired' ng-show="formSale.saleActiveFrom.$error.required">Необходимо ввести дату.</li>
					    <li id='saleActiveFromErrorGreater' ng-show="formSale.saleActiveFrom.$error.greaterOrEqual">Дата должна быть не ранее даты начала родительской карточки: {{saleParent.activeFrom | date:'shortDate'}}</li>
					</ul>
	           </td>
	        </tr>
	        <tr ng-show='!saleEdited.isExtra()'>
	            <th><label for="saleActiveTo">По</label></th>
	            <td>
	                <input class="span-8" type="date" name="saleActiveTo" id="saleActiveTo" ng-model='saleEdited.activeTo' ng-required='!saleEdited.isExtra()' ui-greater-or-equal="saleEdited.activeFrom" ng-disabled='formSaleKey.$invalid || saleEdited.isAddcard()'>
					<ul class="error_list" ng-show='formSale.saleActiveTo.$invalid'>
					    <li id='saleActiveToErrorRequired' ng-show="formSale.saleActiveTo.$error.required">Необходимо ввести дату.</li>
					    <li id='saleActiveToErrorGreater' ng-show="formSale.saleActiveTo.$error.greaterOrEqual && !formSale.saleActiveTo.$error.required">Дата должна быть больше или равна "C".</li>
					</ul>
	           </td>
	        </tr>
	        <tr ng-show='!saleEdited.isExtra()'>
	            <th><label for="saleCardAmount">Цена по тарифу</label></th>
	            <td>
	                <input class="span-8" type="number" ng-pattern="/^[\d]{1,6}(?:,\d{0,2}|\.\d{0,2}|)$/" name="saleCardAmount" id="saleCardAmount" ng-model='saleEdited.cardAmount' ng-required='!saleEdited.isExtra()' ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleCardAmount.$invalid'>
					    <li id='saleCardAmountErrorRequired' ng-show="formSale.saleCardAmount.$error.required">Необходимо ввести цену по тарифу.</li>
					    <li id='saleCardAmountErrorPattern' ng-show="formSale.saleCardAmount.$error.pattern">Цена должна быть в формате 123456,78</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="saleAmount">Стоимость</label></th>
	            <td>
	                <input class="span-8" type="number" ng-pattern="/^[\d]{1,7}(?:,\d{0,2}|\.\d{0,2}|)$/" name="saleAmount" id="saleAmount" ng-model='saleEdited.amount' required ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleAmount.$invalid'>
					    <li id='saleAmountErrorRequired' ng-show="formSale.saleAmount.$error.required">Необходимо ввести стоимость.</li>
					    <li id='saleAmountErrorPattern' ng-show="formSale.saleAmount.$error.pattern">Стоимость должна быть в формате 1234567,89</li>
					</ul>
					<ul class="warning_list" ng-show='saleEdited.amount < saleEdited.cardAmount'>
					    <li id='saleEditAmountWarningLessCard' ng-show="saleEdited.amount < saleEdited.cardAmount">Стоимость меньше цены по тарифу.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="saleSiteAmount">Себестоимость</label></th>
	            <td>
	                <input class="span-8" type="number" ng-pattern="/^[\d]{1,7}(?:,\d{0,2}|\.\d{0,2}|)$/" name="saleSiteAmount" id="saleSiteAmount" ng-model='saleEdited.siteAmount' required ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleSiteAmount.$invalid'>
					    <li id='saleSiteAmountErrorRequired' ng-show="formSale.saleSiteAmount.$error.required">Необходимо ввести себестоимость.</li>
					    <li id='saleSiteAmountErrorPattern' ng-show="formSale.saleSiteAmount.$error.pattern">Себестоимость должна быть в формате 1234567,89</li>
					</ul>
					<ul class="warning_list" ng-show='saleEdited.siteAmount >= saleEdited.amount'>
					    <li id='saleEditSiteAmountWarningGreaterAmount' ng-show="saleEdited.siteAmount > saleEdited.amount">Себестоимость больше стоимости.</li>
					</ul>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="saleInfo">Комментарий</label></th>
	            <td>
	                <input class="span-18" type="text" maxlength='100' name="saleInfo" id="saleInfo" ng-model='saleEdited.info' required ng-disabled='formSaleKey.$invalid'>
					<ul class="error_list" ng-show='formSale.saleInfo.$invalid'>
					    <li id='saleInfoErrorRequired' ng-show="formSale.saleInfo.$error.required">Необходимо ввести комментарий.</li>
					</ul>
	           </td>
	        </tr>
	    </table>
	</fieldset>

	<div class="span-10 prepend-top clear">
	    <ul class="actions row">
	        <li class="list"><a id='saleEditCancel' href="#/salelist">Отменить</a></li>
	        <li class="save"><input id='saleEditSave' type="submit" value="Сохранить" ng-disabled='formSale.$invalid' ng-click='saveSaleEdited()'></li>
	    </ul>
	</div>
</form>