<h1>Список продаж</h1>

<div class="span-6">
    <h3 id="SaleListNumberSales">Количество продаж: {{totalItems}}</h3>
</div>

<div class="append-bottom">
    <input id='SaleListAddSaleUp' type="submit" value="Добавить карточку" ng-click='newSaleCard()'/>
</div>

<div class="span-16">
    <div class="notice" ng-show='savedSaleListNotice'>{{savedSaleListNotice}}</div>
    <table class="list">
        <thead>
            <tr>
				<th ng-repeat='column in sortableColumns' id="SaleListTableHeader" ng-class='{"active": sorting.column === column.id}' ng-style='{width: column.width}'>
            		<a ng-click='changeSorting(column.id)' id="SaleListTableHeaderRef">{{column.name}}</a><span id="SaleListTableHeaderDir">{{sortingMark(column.id)}}</span>
                </th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody id="SaleListTable">
            <tr ng-repeat='sale in sales.getItems()' ng-class-odd="'odd'" ng-class-even="'even'">
                <td class="date">{{sale.date | date:'shortDate'}}</td>
                <td class="text">{{sale.dealer.id}}: {{sale.dealer.companyName}}</td>
                <td class="text">{{sale.site.id}}: {{sale.site.name}}</td>
                <td class="text">{{sale.type.name}}</td>
                <td class="text">{{sale.count}}</td>
                <td class="date">{{sale.activeFrom | date:'shortDate'}}</td>
                <td class="date">{{sale.activeTo | date:'shortDate'}}</td>
                <td class="amount">{{sale.amount}}</td>
                <td class="amount">{{sale.siteAmount}}</td>
                <td class="text"><a ng-click='toggleSaleStatus(sale)'>{{sale.isActive.name}}</a></td>
                <td>
                    <ul class="actions">
                        <li class="edit" ng-show='isAddable(sale)'><a ng-click='newSaleAddcard(sale)'>расширить</a></li>
                        <li class="edit" ng-show='sale.isCard()'><a ng-click='newSaleExtra(sale)'>доплатить</a></li>
                        <li class="edit"><a ng-click='editSale(sale)'>изменить</a></li>
                        <li class="delete"><a ng-click='removeSale(sale)'>удалить</a></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <div pagination on-select-page='onSelectPage(page)' total-items="totalItems" page="paging.currentPage" items-per-page="paging.itemsPerPage" max-size='maxSizePaging' boundary-links="true"></div>
    <div class="append-bottom">
        <input id='SaleListAddSaleDown' type="submit" value="Добавить карточку" ng-click='newSaleCard()'/>
    </div>
</div>
<fieldset class="span-8 last">
    <legend>Фильтр</legend>
    <table class='parameters'>
        <tbody>
            <tr>
                <th><label for="sf_guard_sale_filters_dealer">Салоны</label></th>
                <td>
                    <div id="sf_guard_sale_filters_dealer" ng-model="patterns.dealers" ui-mcombo-choices="dealers" ui-mcombo-name="'companyName'" ui-mcombo-loader="dealersLoader">
                    </div>
                </td>
            </tr>
            <tr>
                <th><label for="sf_guard_sale_filters_site">Cайты</label></th>
                <td>
                    <div id="sf_guard_sale_filters_site" ng-model="patterns.sites" ui-mcombo-choices="sites" ui-mcombo-name="'name'" ui-mcombo-loader="sitesLoader">
                    </div>
                </td>
            </tr>
            <tr>
                <th><label for="SaleListFilterStatus">Статус</label></th>
                <td>
                    <select ng-model='patterns.isActive' ng-options='opt.name for opt in saleStatuses.getItems()' id='SaleListFilterStatus' >
                        <option value='' selected='selected'></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="SaleListFilterType">Тип</label></th>
                <td>
                    <select ng-model='patterns.type' ng-options='opt.name for opt in saleTypes.getItems()' id='SaleListFilterType' >
                        <option value='' selected='selected'></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th><label for="sf_guard_sale_filters_archive">Архив</label></th>
                <td>
                    <input type="checkbox" ng-model='patterns.archive' id='sf_guard_sale_filters_archive'>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    <ul class="actions">
                        <li class="list">
                            <a ng-click='setPatternsDefault()' id='SaleListFilterSetDefault'>Сбросить</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>