a {cursor: pointer}

.routeSpinner {
    background: url("../images/ajax_loader_gray_64.gif") no-repeat scroll center center;
    width: 100%;
    height: 400px;
}

table.parameters th {
	width: 140px;
}

table.multi-parameters th {
	width: 10%;
}

.filterInput {
  width: 100%;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

#javascriptError {
  background: #f2f0ec;
}

FIELDSET.sale {
  margin-top: inherit;
}

TD.center {
	text-align: center;
}

.actions A, .action {
  background: url(../images/default.png) no-repeat 0 0;
}
LI.delete A, A.delete {
  background: url(../images/delete.png) no-repeat 0 0
}
LI.edit A {
  background: url(../images/edit.png) no-repeat 0 0
}
LI.new A, A.new, .action.new {
  background: url(../images/new.png) no-repeat 0 0
}
LI.pricelist A {
  background: url(../images/pricelist_transparent.png) no-repeat 0 0;
}
LI.switch A {
  background: url(../images/switch.png) no-repeat 0 0
}

th, td {padding: 4px 4px 4px 4px;}

.checkbox-group {
	margin: 0;
}

UL.warning_list {
    margin: 0;
}

.warning_list LI {
	list-style: none;
	color: blue;
}

.amount {
    text-align: right;
}

