a {cursor: pointer}

.routeSpinner {
    background: url("../images/ajax_loader_orange_64.gif") no-repeat scroll center center;
    width: 100%;
    height: 400px;
}

table.parameters th {
	width: 20%;
}

th, td {padding: 4px 4px 4px 4px;}

.checkbox-group {
	margin: 0;
}

UL.warning_list {
    margin: 0;
}

.warning_list LI {
	list-style: none;
	color: blue;
}

.amount {
    text-align: right;
}

