<h1>{{actionName}} пользователя</h1>

<form name="formUser" autocomplete="off" novalidate>
	<fieldset class="span-24">
	    <legend>Пользователь</legend>
	    <table>
	        <tr>
	            <th><label for="user_email">Email</label></th>
	            <td>
	                <input class="span-6 required" type="email" name="user_email" ng-model="userEdited.email" maxlength="50" required/>
					<ul class="error_list" ng-show='formUser.user_email.$invalid'>
					    <li id='UserEditEmailErrorRequired' ng-show="formUser.user_email.$error.required">Необходимо ввести значение.</li>
					    <li id='UserEditEmailErrorEmail' ng-show="formUser.user_email.$error.email">Значение должно быть типа: aaa@bbb.cc</li>
					</ul>
	            </td>
	        </tr>
	        <tr>
	            <th><label for="user_password">Пароль</label></th>
	            <td>
	            	<input type="password" name="user_password" ng-model="userEdited.password" ng-required='!userEdited.id'/>
					<ul class="error_list" ng-show='formUser.user_password.$invalid'>
					    <li ng-show="formUser.user_password.$error.required">Необходимо ввести значение.</li>
					</ul>
	            </td>
	        </tr>
	        <tr>
	            <th><label for="user_password_confirm">Пароль (повторно)</label></th>
	            <td>
	                <input type="password" name="user_password_confirm" ng-model="userPasswordConfirm" ui-equal-to="userEdited.password"/>
					<ul class="error_list" ng-show='formUser.user_password_confirm.$invalid'>
					    <li ng-show="formUser.user_password_confirm.$error.equal">Значение должно совпадать с паролем.</li>
					</ul>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24">
	    <legend>Права</legend>
	    <table>
	        <tr>
	            <th><label for="user_status">Статус</label></th>
	            <td>
	                <select id="user_status" ng-model='userEdited.status' ng-options='opt.nameMale for opt in statuses'>
	                </select>
	            </td>
	        </tr>
	        <tr>
	            <th><label for="user_groups_list">Группа</label></th>
	            <td>
		            <select class="form-control" ng-model='userEdited.group' ng-options='opt.name for opt in groups'>
		                <option value=''></option>
		            </select>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24" ng-show='userEdited.isDealer()'>
	    <legend>Тэг автосалона</legend>
	    <table>
	        <tr>
	            <th><label for="user_dealer_manager_id">Тэг</label></th>
	            <td>
	                <select id="user_dealer_manager_id" ng-model='dealerEdited.manager' ng-options='opt.name for opt in managers'>
	                    <option value=''></option>
	                </select>
	            </td>
	        </tr>
	    </table>
	</fieldset>

	<fieldset class="span-24" ng-show='userEdited.isDealer()'>
	    <legend>Профиль автосалона</legend>
	    <table>
	        <tr>
	            <th><label for="user_dealer_company_name">Название компании</label></th>
	            <td>
	                <input class="span-8" type="text" id="user_dealer_company_name" ng-model='dealerEdited.company_name'/>
	           </td>
	        </tr>
	        <tr>
	            <th><label for="user_dealer_city_id">Город</label><span>*</span></th>
	            <td>
	                <select class="required" ng-required='userEdited.isDealer()' name="user_dealer_city" ng-model='dealerEdited.city' ng-options='opt.name for opt in cities'>
	                    <option value=''></option>
	                </select>
					<ul class="error_list" ng-show='formUser.user_dealer_city.$invalid'>
					    <li ng-show="formUser.user_dealer_city.$error.required">Необходимо ввести значение.</li>
					</ul>
	            </td>
	        </tr>
		    <tr>
		        <th><label for="user_dealer_market_id">Рынок</label></th>
		        <td>
		            <select class="span-8" id="user_dealer_market_id" ng-model='dealerEdited.market' ng-options='opt.name for opt in markets| filter: matchCity(dealerEdited.city)' ng-disabled='!dealerEdited.city'>
		                <option value=''></option>
		            </select>
		        </td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_metro_id">Станция метро</label></th>
		        <td>
		            <select class="span-8" id="user_dealer_metro_id" ng-model='dealerEdited.metro' ng-options='opt.name for opt in metros| filter: matchCity(dealerEdited.city)' ng-disabled='!dealerEdited.city'>
		                <option value=''></option>
		            </select>
		        </td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_adress">Адрес</label></th>
		        <td><input class="span-18" type="text" id="user_dealer_adress" ng-model='dealerEdited.adress'/></td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_fax">Факс</label></th>
		        <td><input type="text" id="user_dealer_fax" ng-model='dealerEdited.fax'/></td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_email">Email</label></th>
		        <td><input class="span-8" type="email" id="user_dealer_email" ng-model='dealerEdited.dealer_email'/></td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_site">Сайт</label></th>
		        <td>
		            <div class="help">Например: http://www.mysite.ru (обязательно начиная с "http://")</div>
		            <input class="span-8" type="url" id="user_dealer_site" ng-model='dealerEdited.site'/></td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_contact_name">Контакт</label></th>
		        <td><input class="span-8" type="text" id="user_dealer_contact_name" ng-model='dealerEdited.contact_name'/>
		        </td>
		    </tr>
		    <tr>
		        <th rowspan="4">
		            <label for="user_dealer_phone">Телефоны</label><span>*</span>
		        </th>
		        <td>
		            <div class="help">
		                Например: <span>+7(495)123-45-67</span> - московский номер.
		            </div>
		        </td>
		    </tr>
		    <tr ng-repeat='phone in dealerEdited.phones'>
		        <td ng-form='phoneForm'>
		            <input type="text" name="user_dealer_phone" ng-model='phone.phoneNumber' ui-phone-fields='phone'/>
		            звонить с
		            <select id="user_dealer_phone_from" ng-model='phone.phoneFrom' ng-options='opt.id as opt.name for opt in dealerPhoneHours.data'>
		                <option value=''></option>
		            </select>
		            по
		            <select id="user_dealer_phone_to" ng-model='phone.phoneTo' ng-options='opt.id as opt.name for opt in dealerPhoneHours.data'>
		                <option value=''></option>
		            </select>
		            <br>
					<ul class="error_list" ng-show='phoneForm.user_dealer_phone.$invalid'>
					    <li ng-show="phoneForm.user_dealer_phone.$error.consistent">Необходимо заполнить все три поля - "номер", "с" и "по".</li>
					    <li ng-show="phoneForm.user_dealer_phone.$error.number">Необходимо ввести номер телефона в правильном формате.</li>
					    <li ng-show="phoneForm.user_dealer_phone.$error.period">Необходимо указать время "с" меньше, чем время "по".</li>
					</ul>
		        </td>
		    </tr>
		    <tr>
		        <th><label for="user_dealer_company_info">Информация о компании</label></th>
		        <td>
		            <textarea rows="4" cols="30" class="span-18 hb" id="user_dealer_company_info" ng-model="dealerEdited.company_info"></textarea>
		        </td>
		    </tr>
		</table>
	</fieldset>

	<fieldset class="span-24" ng-show='userEdited.isSite()'>
	  	<legend>Профиль сайта</legend>
	  		<table>
	    		<tbody><tr>
	  				<th><label for="user_sites_list">Сайт</label></th>
	  				<td>
	  					<select id="user_sites_list" ng-model='userEdited.site' ng-options='opt.name for opt in sites'>
						<option value=''></option>
						</select>
					</td>
				</tr></tbody>
			</table>
	</fieldset>

	<div class="span-10 prepend-top clear">
	    <ul class="actions row">
	        <li class="delete"><a ng-click='removeUser()'>Удалить</a></li>
	        <li class="list"><a href="#/userlist">Вернуться к списку</a></li>
	        <li class="save"><input type="submit" value="Сохранить" ng-disabled='formUser.$invalid' ng-click='saveUser()'/></li>
	    </ul>
	</div>
</form>

