    <h1>Список пользователей</h1>

    <div class="span-6">
        <h3 id="UserListNumberUsers">Количество записей: {{totalItems}}</h3>
    </div>

    <div class="append-bottom">
        <input id='UserListAddUser' type="submit" value="Добавить пользователя" ng-click='clickNewUser()'/>
    </div>

    <div class="span-16">
        <div class="notice" ng-show='savedUserListNotice'>{{savedUserListNotice}}</div>
        <table class="list">
            <thead>
                <tr>
					<th ng-repeat='column in sortableColumns' id="UserListTableHeader" ng-class='{"active": sorting.column === column.id}'>
                		<a ng-click='changeSorting(column.id)' id="UserListTableHeaderRef">{{column.name}}</a><span id="UserListTableHeaderDir">{{sortingMark(column.id)}}</span>
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody id="UserListTable">
                <tr ng-repeat='user in pagedUsers' ng-click='clickLine(user.id)' ng-class-odd="'odd'" ng-class-even="'even'">
                    <td class="text"><a href='#/users/{{user.id}}/edit'>{{user.id}}</a></td>
                    <td class="text"><a href='#/users/{{user.id}}/edit'>{{user.email}}</a></td>
                    <td class="date">{{user.last_login | date:'shortDate'}}</td>
                    <td>
                        <ul class="actions">
                            <li class="edit"><a href='#/users/{{user.id}}/edit'>изменить</a></li>
                            <li class="switch"><a href='#/users/{{user.id}}/switch'>войти</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="notice" ng-show='savedUserListNotice'>{{savedUserListNotice}}</div>
        <div pagination total-items="totalItems" page="currentPage" items-per-page="itemsPerPage" max-size='maxSize' boundary-links="true"></div>
        <div class="append-bottom">
            <input id='UserListAddUser' type="submit" value="Добавить пользователя" ng-click='clickNewUser()'/>
        </div>
    </div>
    <fieldset class="span-8 last">
        <legend>Фильтр</legend>
        <table>
            <tfoot>
                <tr>
                    <td>
                        <ul class="actions">
                            <li class="list">
                                <a ng-click='setPatternsDefault()' id='UserListFilterSetDefault'>Сбросить</a>
                            </li>
                        </ul>
                    </td>
                    <td><input type="submit" value="Фильтровать"/></td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <th><label for="sf_guard_user_filters_complex">Код, email, название</label></th>
                    <td>
                        <input type="text" ng-model='patterns.complex' id="sf_guard_user_filters_complex" placeholder='через пробелы и запятые'/>
                    </td>
                </tr>
                <tr>
                    <th><label for="sf_guard_user_filters_status">Статус</label></th>
                    <td>
                        <select ng-model="patterns.status" multiple ng-options='opt.namePlural for opt in optionsStatus' id="sf_guard_user_filters_status">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label for="sf_guard_user_filters_manager_id">Тэг</label></th>
                    <td>
                        <select ng-model='patterns.manager' ng-options='opt.name for opt in optionsManager' id='sf_guard_user_filters_manager_id' >
		                    <option value='' selected="selected"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>