<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="title" content="MaxPoster - Управление пользователями"/>
    <meta name="description" content="MaxPoster - Управление пользователями"/>
    <%=base%>
    <title>MaxPoster - Управление пользователями</title>
    <link rel="shortcut icon" href="<%=path%>favicon.ico<%=hashFavicon%>">
    <link rel="stylesheet" href="<%=path%>css/blueprint/screen.min.css<%=hashScreen%>" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="<%=path%>css/blueprint/print.min.css<%=hashPrint%>" type="text/css" media="print">
    <!--[if IE 8]>
    <link rel="stylesheet" href="<%=path%>css/blueprint/ie.min.css<%=hashIE%>" type="text/css" media="screen, projection"/>
    <script src="js/vendor/es5-shim/es5-shim.min.js<%=hashShim%>"></script>
    <![endif]-->
<%=cssInclude%>
    <script src="js/page/setupga.js<%=hashGA%>"></script>
</head>
<body ng-app="<%=app%>">
    <div class="container" id="container">
        <div id="top">
            <div class="span-7">
                <a href="/"><img src="images/logo.png<%=hashLogo%>" id="logo" alt="Логотип MaxPoster"/></a>
            </div>
            <div class="mainmenu span-17 last">
                <div><a href="/">Главная</a></div>
                <div><a href="/avtosalonam">Автосалонам</a></div>
                <div><a href="/avtosaitam">Автосайтам</a></div>
                <div><a href="/contacts">Контакты</a></div>
            </div>
            <div class="submenu span-24">
                <table>
                    <tr>
                        <td class="tdl">
                            <span><a href="admin.html#/userlist">Пользователи</a></span>
                            <span><a href="/auto">Объявления</a></span>
                            <span><a href="/report/admin">Отчеты</a></span>
                            <span><a href="admin.html#/dealersitelist">Регистрации</a></span>
                            <span><a href="admin.html#/salelist">Продажи</a></span>
                            <span><a href="admin.html#/billingcreditlist">Кредитные лимиты</a></span>
                            <span><a href="admin.html#/billingunionlist">Группировки</a></span>
                        </td>
                        <td class="tdr">
                            <span><a href="/profile">Профиль</a></span>
                            <span><a href="/logout">Выйти</a></span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="span-24 hide" id="browserReminder">
                <div class="notice">
                <table class='bottom'>
                    <tr>
                        <td class="span-20 first">
                            Уважаемый пользователь сервиса MaxPoster!<br>
                            Для надежности оказываемых вам услуг, рекомендуем вам <span id='recommendedAction1'></span>.<br><span id='actionInstruction'></span>.<br>
                            Если вы не можете <span id='recommendedAction2'></span>, пожалуйста, оперативно сообщите об этом Александру Воробьёву по электропочте <span id='emailReference'></span> или по телефону в Москве <b>+7 (499) 703-39-17</b> или Санкт-Петербурге <b>+7 (812) 309-83-51</b>.<br>
                            С уважением,<br>
                            Команда MaxPoster
                        </td>
                        <td class="span-3 last">
                            <input type="submit" value="Осознал, напомнить завтра" onclick='
                                var date = new Date;
                                date.setHours(24, 0, 0, 0);
                                document.cookie="browserReminder=1; expires="+date.toUTCString();
                                document.getElementById("browserReminder").style.display="none"
                            '>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>

        <div id="content_frame" class="span-24 last" ng-controller="AppCtrl">
            <div class='routeSpinner' ng-show="viewRouteSpinner"></div>
            <div ng-view ng-hide="viewRouteSpinner"></div>
        </div>

        <div class='span-24 last hide' id="javascriptError">
            <table>
                <tr>
                    <td>
                        <h1>
                            ОШИБКА!
                        </h1>
                        <h3>
                            К сожалению, вы столкнулись с ошибкой в программе. Обратитесь в службу поддержки компании MaxPoster.<br>
                            При обращении, пожалуйста, передайте следующую информацию:
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5 id="javascriptErrorMessage"></h5>
                        <p id="javascriptErrorStack"></p>
                        <p id="javascriptErrorResponse"></p>
                    </td>
                </tr>
            </table>
        </div>

        <noscript>
            <div class="span-24">
                <h1>Отключен JavaScript</h1>
                <p>Для корректной работы этого раздела сайта необходим JavaScript, который в вашем браузере отключен.</p>
            </div>
        </noscript>

        <div class="span-24 h5">&#160;</div>

        <div id="bottom" class="span-24">
            <table>
                <tr>
                    <td>
                        <span>Email:</span> <a href="mailto:info@maxposter.ru">info@maxposter.ru</a><br/>
                        <span>Телефон:</span> +7 (911) 101-66-62
                    </td>
                    <td class="r">MaxPoster &copy; 2009 - 2014</td>
                </tr>
            </table>
        </div>

    </div>

    <script src="js/vendor/angular/angular.js"></script>
    <script src="js/vendor/angular/angular-route.js"></script>
    <script src="js/vendor/angular/i18n/angular-locale_ru-ru.js"></script>
    <script src="js/vendor/lodash/lodash.min.js"></script>
    <script src="js/vendor/ui-bootstrap/pagination-0.7.0.js"></script>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<%=scripts%>
</body>
</html>